body {
  font-family: 'Raleway', sans-serif;
  background-color: rgb(243,242,241);
  font-size: 1.5em;
  color: rgb(0,77,143);
}

.legrandlogo {
  max-width: 10em;
  max-height: 4em;
  margin-left: 2em;
  margin-top: 2.5em;
}

@media print {
    .hidden{
        display: none;
    }
}

.left{
    float: left;
}

.right{
    float: right;
}

.center{
    position: fixed;
    max-width: 500px;
}

#main{
  background: rgb(255,255,255);
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

#lienImpressionCodeBarre{
    font-size: 2em;
    color: red;
}

#lienAppliCodeBarre{
    width: 100%;
    text-align: center;
}

#lienAppliCodeBarre a{
    font-size: 2em;
    color: red;
}

#lienAppliCodeBarre button{
    width: 100px;
    height: 50px;
}

li {
  margin: 2em;
}

.row {
  padding: 2em;
  margin: 0 auto;
  background-color: rgb(236,236,236);
  display: inline-flex;
}

.page-header {
  color: black;
  background-color: rgb(255,194,15);
}

label {
  margin-top: 0.5em;
  display: block;
}
