body {
  font-family: 'Raleway', sans-serif;
  background-color: rgb(243,242,241);
  font-size: 1.5em;
  color: rgb(0,77,143);
}

.legrandlogo {
  max-width: 10em;
  max-height: 4em;
  margin-left: 2em;
  margin-top: 2.5em;
}

#main{
  background: rgb(255,255,255);
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

li {
  margin: 2em;
}

.row {
  padding: 2em;
  margin: 0 auto;
  background-color: rgb(236,236,236);
  display: inline-flex;
}

.page-header {
  color: black;
  background-color: rgb(255,194,15);
}

label {
  margin-top: 0.5em;
  display: block;
}
